#name-and-slogan #site-slogan {
  font-family: Georgia,Serif;
  text-align: center;
  font-style: normal;
  background-color: #590659;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

